* {
    box-sizing: border-box;
}

.header {
    background-image: url(../images/barraques.cat_4k-pattern-wallpaper_851511.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 268px;
    position: relative;
    min-width: 456px;
}

.header_title {
    font-family: "PT Sans";
    font-size: 48px;
    position: absolute;
    top: 27.5%;
    left: 3.2%;
    color: #fefefe;
}

.top-nav_menu {
    position: absolute;
    list-style: none;
    display: -webkit-box;
    margin-left: 0px;
    padding-left: 0px;
    left: 1.82%;
    bottom: -9%;
}

.nav-link {
    font-family: "PT Sans";
    font-size: 18px;
    text-decoration: none;
    color: #fefefe !important;
}

.nav-link:after {
    text-decoration: none;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fefefe;
    transform: translateY(0px) scale(0);
    transition: all 0.2s;
}

.nav-link:hover:after {
    transform: translateY(0px) scale(1.1);
    text-decoration: none;
}

.perfomance {
    min-width: 430px;
    min-height: 120px;
    position: relative;
    width: 94%;
    box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.09);
    border: 1px solid #e0e0e0;
    background-color: rgb(243, 243, 243);
    left: 3%;
    margin-top: 3%;
    right: 3%;
}

.perfomance__inner {
    display: flex;
    justify-content: center;
    text-align: center;
}

.perfomance-item {
    margin: 10% 3.1% 19%;
    max-width: 122px;

}

.perfomance__title {
    text-align: center;
    color: #787878;
    font-family: "PT Sans";
    font-size: 14px;
}

.footer {
    position: relative;
    display: inline-block;
    font-family: "PT Sans";
    font-size: 14px;
    left: 3%;
    bottom: -24px;
}