.header {

    color: #fefefe;
    font-family: "PT Sans";
    font-size: 48px;

}



.top-nav_menu {
    position: absolute;
    list-style: none;
    display: -webkit-box;

    margin-left: 0px;
    padding-left: 0px;
    left: 1.82%;
    bottom: -9%;

}

.header-text {
    position: absolute;
    top: 27.5%;
    left: 3.2%;
    color: #fefefe;
}

.nav-link {
    font-family: "PT Sans";
    font-size: 18px;
    text-decoration: none;
    color: #fefefe !important;
}

.nav-link:after {
    text-decoration: none;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fefefe;
    transform: translateY(0px) scale(0);
    transition: all 0.2s;
}



.figcaption {
    width: 122px;
}

.content-container {
    position: absolute;
    width: 94%;
    height: 65.6%;
    box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.09);
    border: 1px solid #e0e0e0;
    background-color: #f3f3f3;
    left: 3%;
    margin-top: 4%;
    margin-bottom: 5.9%;
    right: 3%;
}

.nav-link:hover:after {
    transform: translateY(0px) scale(1.1);
    text-decoration: none;
}

.footer {
    position: absolute;
    font-family: "PT Sans";
    font-size: 14px;
    left: 3%;
    bottom: -13%;

}

/*
.header-background {
    position: relative;
    max-width: 100%;
    height: 268px;
    display: block;
}
*/
.parameters {
    position: absolute;
    top: 80%;
}

.header-background {
background-size: cover;
position: relative;
max-height: 268px;
}